html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
@font-face {
	font-family: Georgia;
	src: url(Georgia.ttf);
}
p{
	font-family: 'Georgia';
}
nav.navbar.navbar-default{
	background-color: #31b0d5;
	border-radius: 0;
	padding: 0;
	margin: 0;
	border: 0px;
}
.navbar-header a.navbar-brand{
	color:white;
}
nav.navbar.navbar-default a{
	color: white;
}
#collapse_button{
	background-color: #31b0d5;
	border:1px solid #31b0d5;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.carousel{
	height: 100%;
}
.carousel-inner{
	height: 100%;
}
#f1{
	height: 100%;
	background-image: url("/resources/img1.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#f2{
	height: 100%;
	background-image: url("/resources/img2.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#f3{
	height: 100%;
	background-image: url("/resources/tahnik7.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption{
	border: 0.2em solid whitesmoke;
	padding: 0;
	margin-bottom: 5em;
	font-family: 'Droid Serif', serif;
}
span.front_page{
	font-size: 2.5em;
}
.articles{
	background-color:floralwhite;
}
.article_header{
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.article_image{
	width:100%;
}
.article_date{
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.article_body{
	padding: 10px;
}
.span-center{
	display:block;
	text-align: center;
}
#main_about{
	background-color: floralwhite;
}
#main_body{
	/*position: absolute;*/
	background-color: #f7f7f7;
	padding-top:20px;
	z-index: 999;
}
h3{
	padding: 0;
	margin: 0;
}
#login_div{
	padding: 10px;
	width:300px;
	height:200px;
}
#login_ul{
	background-color: #5cb85c;
}
.login_label{
	color:white;
}
#nav_ul li.active a{
	background-color: #31708f;
}
#nav_ul li.active > a{
	color:white;
}
.recent{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	background-color: #f7e1b5;
}
.recent_image{
	width: 100%;
}
.recent_h3{
	font-size: 1em;
	width: 95%;
	padding: 5px;
}
/* about.html
#my_pic{
	width: 100%;
	height: 600px;
	overflow: hidden;
	padding: 0;
	position: relative;
}
.who_text{
	padding-left: 0.5em;
	font-size: 4em;
	color: white;
}
.who_col{
	padding-top: 2em;
	background-color: #c7254e;
	padding-bottom: 2em;
	height: 350px;
}
.name{
	margin-top: 0;
}
#who_am_i{
	background-color: azure;
	z-index: 999;
}
.des_edu_img{
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
}
.who_project{
	margin-bottom: 0;
	border-bottom: 2px solid grey;
	color: black;
}
.what_aclr{
	margin-bottom: 0;
	background-color: #269abc;
	color: white;
	font-size: 1.3em;
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 3px;
}
.summary{
	font-family: Georgia;
	background-color: white;
}
.ex_col{
	padding-top: 2em;
	background-color: #269abc;
	padding-bottom: 2em;
}
.ex_text{
	padding-left: 0.5em;
	font-size: 2em;
	color: white;
}
.summary_p{
	font-size: 1.2em;
	text-align: justify;
}
.experience_top {
	color: white;
	background-color: darkcyan;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 0.7em;
}
.overlay{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
}
.ado_ex{
	padding-top: 1em;
	font-size: 5em;
}
#ex_fix_top{
	transition: all 1s;
}
.cover_text{
	font-size: 5em;
	width:50%;
	margin-top:150px;
	text-align: center;
	background-color: rgba(54, 25, 25, 0.5);
	color: white;
}
.education_top {
	color: white;
	background-color: blueviolet;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 0.7em;
}
.cover_text_edu{
	font-size: 4.5em;
	margin-top:100px;
	text-align: left;
	color: black;
}
#captivate_fixed{
	height: 600px;
	background-image: url("resources/captivate.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#animated_fixed{
	height: 600px;
	background-image: url("resources/animated1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#lms_fixed{
	height:500px;
	background-image: url("resources/lms.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
#java_fixed{
	height:500px;
	background-image: url("resources/java.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}
#video_fixed{
	height:500px;
	background-image: url("resources/video_uni.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}
.cover_text_edu_video{
	font-size: 4.5em;
	text-align: left;
	color:white;
	padding-top: 0;
	margin: 0;
}
.image_back{
	width: 100%;
}
*/